.canvas{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

canvas{
    border: 1px solid black;
    background-color:white;
}
.chat{
    margin-left:20px;
    display:flex;
    flex-direction: column;
    max-width:300px;
    word-wrap: break-word;
}
.scoreName{
    text-align: center;
    margin-bottom: 10px;
}
.scoreForm{
    display:flex;
    flex-direction: column;
    max-width:200px;
    height:330px;
    margin-right: 20px;
}
.score div{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.chat li{
    display:flex;
    max-width:300px;
    max-height:500px;
    word-wrap: break-word;
   
}
.modal{
    display: flex;

}
.list-group{
    overflow:auto; width: 280px; height:330px; 
}
.formChat input{
    width: 280px;
}